@import "tailwindcss";

body {
  cursor: url('../src/assets/Cursor.ico'), auto;
}


.custom-popover {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  font-weight: 600;
  white-space: nowrap;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 85.5px;
  background:
    linear-gradient(white, white) padding-box,
    conic-gradient(from var(--bg-angle), #404042 0%, #EB0FB1 31%, #09DCEC 100%) border-box;
  /* animation: spin 3s linear infinite; */
  cursor: pointer;
}

.noscroll {
  scrollbar-width: none;
}

.fadeintop {
  animation: fadeInTop 0.5s forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}